body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* 2. Efecto al pasar el puntero */
.card:hover {
    /* Elevación: mueve la tarjeta ligeramente hacia arriba (-5px) */
    transform: translateY(-5px); 
    /* Sombra: añade una sombra más pronunciada para el efecto 3D */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
    /* Opcional: Cursor de puntero para indicar interactividad */
    cursor: pointer;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
